.profile-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 0;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus {
    outline: none;
    border-color: #66afe9;
    box-shadow: 0 0 8px 0 rgba(102,175,233,0.6);
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    font-size: 16px;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
}

input[disabled] {
    background-color: #eee;
    color: #777;
}

.form-group.center-btn {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.input-container {
    position: relative; /* Enable relative positioning for button */
}

#ESNcodeInput {
    padding-right: 30px; /* Make space for the button */
    border: 1px solid #fff; /* Optional styling */
    /*border: 4px solid #7AC143; !* Optional styling *!*/
}

.btnESNcode {
    position: absolute; /* Position button absolutely within input */
    top: 50%; /* Center button vertically */
    right: 20px;  /* Position button 10px from right edge */
    transform: translateY(-50%); /* Offset vertical centering */
    opacity: 0; /* Hide button initially */
    cursor: pointer; /* Indicate clickable element */
    transition: opacity 0.5s ease-in-out; /* Smooth opacity transition */
    border: 0;
    padding: 0;
    background-color: transparent;
}

.input-container:hover .btnESNcode {
    opacity: 1; /* Show button on hover */
}
